version: '2'
services:
    db:
        image: mysql:5.7
        ports:
            - "3306:3306"
        volumes:
            - "./db/mysql_init:/docker-entrypoint-initdb.d"
            - "./db/mysql_data:/var/lib/mysql"
        environment:
            MYSQL_ROOT_PASSWORD: mysql